{% block style %} <link rel="stylesheet" href="/style/footer.css">{% endblock %}

{% block footer %}
 <footer>
     <div id='div_ml_confid_cgu'>
         <a href="/main">Accueil</a> 
         <a href="/mentions_legales">Mentions légales</a> 
         <a href="/confidentialite">Politique de confidentialité</a> 
         <a href="/GCU">Conditions Générales d'Utilisation</a> 
     </div>
     <div id='div_contact'>
         <a id = 'a_contact'href="/contact">Nous contacter</a> 
     </div>
 </footer>
{% endblock %}

   {# TODO: FOOTER ROUTER #}
