{% block style %}
    <link rel="stylesheet" href="/style/logoSlogan.css">
{% endblock %}



{% block logoSlogan %}
 <div id='logoSlogan'>
     <div  id="divLogo"><img src="./images/logoGivinOK.png" widht=200px height=90px alt="logo Given" ></div>
     <h1 id='slogan'>Je donne, je trouve !</h1>
 </div>
{% endblock %}