{% extends "base.twig" %}

 {% block style %}
        <link rel="stylesheet" href="/style/reglementations.css">
 {% endblock %}

 {% block title %}
        <title> Given - Politique de confidentialité </title>
 {% endblock %}

 {% block main %}
          <main >
               <section  >
                       <h1>CONDITIONS GENERALES D'UTILISATION</h1>
                       <p id ='date'>En vigueur au 24/04/2023</p>
                       <div id='gcuIntro'>
                             <p>
                                    <B>Les présentes conditions générales régissent l'utilisation de la plateforme Given disponible directement sur 
                                       le site internet à l’adresse given.fr</B> 
                             </p>

                             <p>
                                    <B>Ces Conditions Générales sont mises à la disposition des Utilisateurs sur le Site Internet. Tout Utilisateur 
                                       déclare avoir pris connaissance et accepté les présentes conditions générales pour toute utilisation de Given.</B>
                             </p>
                        </div>      

                       <article id='def'>
                             <h2>1.DEFINITIONS</h2>

                             <p>
                                    <B>“Annonceur”</B>désigne tout Utilisateur qui propose un Article Donné.
                             <p>

                             <p>
                                    <B>“Objet” </B>désigne tout objet que son propriétaire propose au don sur la Plateforme.Les Objets sont non-alimentaires. 
                             <p>
                 
                             <p>
                                    <B>“Plateforme”</B>désigne indistinctement le Site Internet.
                             </p>

                             <p>
                                    <B>“Service” </B>désigne le service proposé à tout Utilisateur sur la Plateforme leur permettant de proposer au don, ou 
                                     de contacter l’annonceur pour réserver l’objet qu’il souhaite donner.
                             </p>

                             <p>
                                    <B>“Site Internet” </B>désigne le site internet Given, disponible à partir du lien URL given.fr, permettant aux 
                                    Utilisateurs d’accéder aux Services.
                             </p>

                             <p>
                                    <B>“Société”</B>désigne la société Given, dont l'adresse est situé à Aubagne et immatriculée sous le numéro 
                                     d’identification 12345678.
                             </p>

                             <p>
                                    <B>“Utilisateur” </B>désigne tout utilisateur, personne physique majeure, particulier, de la Plateforme ou des Services.
                             </p>
                       </article>

                      <article id='gcuObjet'>
                             <h2>2.OBJET DES CONDITIONS GENERALES</h2>

                             <p>
                                    Les présentes Conditions Générales définissent les conditions d’utilisation de la Plateforme et des Services par les 
                                    Utilisateurs et les Annonceurs et régissent les relations entre les Utilisateurs du Service.
                             </p>

                             <p>
                                    En utilisant la Plateforme, tout Utilisateur déclare accepter les présentes Conditions Générales sans réserve et confirme 
                                    expressément être une personne physique capable et non professionnelle.
                             </p>

                             <p>
                                    Les présentes Conditions Générales sont en conséquence opposables à tout Utilisateur.
                             </p>

                             <p>
                                    La Société se réserve le droit de modifier les présentes Conditions Générales. Elles seront applicables dès leur 
                                     mise en ligne.
                             </p>

                             <p>
                                    Les Utilisateurs du site sont invités à les consulter régulièrement afin de prendre connaissance des changements apportés.
                             </p>

                             <p>
                                    Les conditions générales d'utilisation doivent être acceptées par tout Utilisateur souhaitant accéder au site. 
                                    Cette acceptation ne peut être que pleine et entière. Dans le cas contraire, l'utilisateur s'engage à ne pas utiliser ou visiter la Plateforme.
                             </p>
                      </article>

                      <article id='inscription'>
                             <h2>3.INSCRIPTION DES UTILISATEURS</h2>
 
                             <p>Pour utiliser le Service, afin d'être identifié sur la Plateforme, l'Utilisateur doit créer un compte.</p>

                             <p>Tout utilisateur déclare expressément être une personne physique majeure en s'inscrivant sur la Plateforme.</p>

                             <p>Pour créer un compte et s'identifier l’utilisateur doit utiliser une adresse e-mail, utilisée comme identifiant, 
                              et un mot de passe.</p>

                             <p>L'Utilisateur est seul responsable de son compte et de l'utilisation qu'il en fait.</p>

                             <p>En s'inscrivant sur la Plateforme, l'utilisateur confirme avoir lu et accepté les conditions générales d'utilisation.</p>
                      </article>

                      <article id='Regles'>
                             <h2>4.REGLES D'UTILISATION DU SERVICE</h2>
                             <h3>4.1 Publications par l'utilisateur</h3>
                             <p>
                                    Les Utilisateurs de la Plateforme sont responsables des messages qu'ils envoient, du contenu de leur profil, 
                                    des annonces et photos qu'ils publient ou de toutes autres informations qu'ils décident de transmettre à partir de la Plateforme ou en dehors de la Plateforme.
                             </p>

                             <p>
                                    Tout Annonceur déclare expressément en publiant une annonce être le propriétaire de l’Objet Donné concerné et 
                                    s’engage à faire une description la plus fidèle possible de tout Objet.
                             </p>

                             <p>
                                    En publiant une annonce, tout Utilisateur accepte expressément que le contenu de cette annonce soit utilisé par la 
                                    Société à des fins de communication et sa duplication sur tout site Internet exploité par la Société.   
                              </p>

                             <h3>4.2 Récupération d'un objet</h3>

                             <p>
                                    Tout Utilisateur a accès à la liste des Objets, aux descriptifs et photos des Objets et au profil des 
                                    Annonceurs.
                             </p>

                             <p>
                                    Un Utilisateur intéressé par un Objet peut prendre contact avec l’Annonceur concerné directement par 
                                    mail pour lui faire connaître son intérêt pour l’Objet Donné.
                             </p>

                             <p>
                                    En consultant ses mails, l’Annonceur a accès aux Utilisateurs intéressés par l’Objet Donné qu’il propose et 
                                    peut organiser avec l’Utilisateur de son choix les modalités de récupération de l’Objet Donné.
                             </p>
                       </article>

                       <article id='responsabilite'>
                             <h2>5.RESPONSABILITE ET ENGAGEMENTS</h2>

                             <p>
                                    Les Services régis par les présentes Conditions Générales sont ceux qui figurent sur la Plateforme. Les Objets 
                                    y sont présentés et décrits sous la responsabilité des Annonceurs. La responsabilité de la Société ne saurait 
                                    être engagée pour des erreurs ou omissions.
                             </p>

                             <p>
                                    La Société ne sera pas responsable de tout préjudice indirect que pourrait subir un Utilisateur du 
                                    service dans le cadre d’une quelconque activité à la suite de l’utilisation d’un Objet ou encore du 
                                    fait de son état.
                             </p>

                             <h3>5.1 Responsabilités et engagements de la Société Given</h3>

                             <p>
                                    La Société est un tiers aux correspondances et relations entre les Annonceurs et les Utilisateurs, et 
                                    exclut de ce fait toute responsabilité à cet égard.
                             </p>

                             <p>
                                    La Société ne saurait en aucun cas être tenue responsable du contenu des annonces publiées par les 
                                    Annonceurs et ne donne aucune garantie, expresse ou implicite, à cet égard.
                             </p>

                             <p>
                                    La Société exerce aussi une modération a posteriori sur certaines des publications et se réserve le 
                                    droit de stopper leurs mises en ligne, sans avoir à s'en justifier auprès du membre.
                             </p>

                             <p>
                                    En revanche, la Société peut prendre connaissance des messages échangés entre Utilisateurs au travers 
                                    du service de messagerie instantanée présent sur la Plateforme, notamment à des fins de prévention des 
                                    fraudes, d’amélioration de ses services, d’assistance utilisateur, ou de vérification du respect par 
                                    les Utilisateurs des présentes Conditions Générales. 
                             </p>

                             <p>
                                    Given est une plateforme de dons d’objet, les Annonceurs acceptent donc de donner des objets leur 
                                    appartenant, sans aucune contrepartie financière , ni sans aucune contrepartie que ce soit. 
                                    Si un annonceur ne respecte pas cette condition, la société ne saurait en aucun cas être tenue 
                                    responsable, et elle se réserve le droit de supprimer son compte et ses mises en ligne. 
                             </p>

                             <p>
                                    Les annonces figurant sur la Plateforme sont contrôlées manuellement avant d'être publiées.
                             </p>

                             <p>
                                    Toutefois, il se peut que des Utilisateurs peu scrupuleux essaient de proposer des dons afin d'obtenir 
                                    vos coordonnées ou essaient de vous contacter pour réaliser une vente. Given est présent pour 
                                    aider l'Utilisateur et le conseiller.
                             </p>

                             <h3> 5.2 Engagements de l'Utilisateur</h3>
                             <p>
                                    Tout Utilisateur déclare et garantit en utilisant les Services qu’il ne contrevient à aucune 
                                    réglementation en vigueur et qu’il ne porte atteinte à aucun droit de tiers. En particulier, les 
                                    Utilisateurs s’interdisent tout comportement contraire aux bonnes mœurs ainsi que de tenir tout 
                                    propos insultant ou dégradant à l’égard des tiers.
                             </p>

                             <p>
                                    L'Utilisateur s'engage à ce que son compte personnel ne comporte aucune information obligatoire fausse 
                                    et/ou mensongère, aucune information portant atteinte aux droits d'un tiers.
                             </p>

                             <p>
                                    Dans ce cadre, l’Utilisateur déclare et reconnaît qu’il est seul responsable des informations renseignées lors 
                                    de la création de son compte personnel.
                             </p>

                             <p>
                                    L’Utilisateur reconnaît et accepte que la Société puisse supprimer, à tout moment et sans indemnité, 
                                    un compte qui serait contraire notamment à la loi française ou aux présentes Conditions Générales.
                             </p>

                             <h3>5.3 Engagements de l'annonceur</h3>

                             <p>
                                    Tout Annonceur déclare et garantit en publiant toute annonce qu’il ne contrevient à aucune 
                                    réglementation en vigueur et qu’il ne porte atteinte à aucun droit de tiers.
                             </p>

                             <p>
                                    En utilisant le Service, l'Utilisateur s'engage à ce que toute annonce qu'il publie ne contienne 
                                    aucune proposition relative à un produit illicite ou pharmaceutique, aucun lien hypertexte redirigeant 
                                    les Utilisateurs notamment vers des sites extérieurs et non exploités par la Société, aucune 
                                    information fausse, mensongère ou de nature à induire en erreur les Utilisateurs, aucun contenu à 
                                    caractère promotionnel ou publicitaire en lien avec l’activité de l’Annonceur.
                             </p>

                             <p>
                                    L’Annonceur s’engage à ne proposer dans les annonces que des Objets Donnés dont il dispose. 
                                    L’Annonceur s’engage, en cas d’indisponibilité de l’Objet Donné, à retirer l’annonce sans délai.
                             </p>


                             <p>
                                    Toute annonce qui ne serait pas postée avec l’intention réelle de donner l’objet à un tiers, est 
                                    formellement interdite et pourra conduire à la suspension de façon permanente ou temporaire du compte 
                                    de l’Utilisateur concerné.Tout Annonceur s’engage expressément à ne pas réclamer la moindre somme 
                                    d’argent ou contrepartie de quelque nature que ce soit en contrepartie du don ou du signalement d’un 
                                    Objet.
                             </p>

                             <p>
                                    En conséquence, tout Annonceur relève expressément la Société de toutes responsabilités, les garantits 
                                    contre tout recours ou action qui pourrait être intenté contre lui par tout tiers au titre d’une 
                                    Annonce qu’il aurait publié, et prendra à sa charge tous les dommages et intérêts ainsi que les frais 
                                    et dépens auxquels il pourrait être condamné ou qui seraient stipulés à son encontre dans un accord 
                                    transactionnel, sans préjudice du droit de la Société à réclamer auprès dudit Annonceur la réparation 
                                    des dommages subis par ces derniers à ce titre.
                             </p>

                             <p>
                                    En déposant toute annonce, un Annonceur reconnaît et accepte que la Société puisse la refuser ou la 
                                    supprimer à tout moment, sans indemnité, en particulier toute annonce qui s’avèrerait contraire aux 
                                    lois et réglementations applicables ou aux présentes Conditions Générales.
                             </p>

                             <h3>5.4 Désinscription de compte, limitation d'accès</h3>

                             <p>            
                                    L'Utilisateur peut se désinscrire du Service à tout moment. Pour cela, il suffit de faire une suppression 
                                    de son compte à partir de son espace personnel.
                             </p>

                             <h3>5.5 Limite de responsabilité</h3>

                             <p>
                                    La Société s’engage à mettre en œuvre tous les moyens nécessaires afin d’assurer au mieux la fourniture 
                                    des Services aux Utilisateurs et aux Annonceurs et l’accessibilité de la Plateforme.
                             </p>

                             <p>
                                    La Société n'offre aucune garantie de service. Nous ne garantissons pas que le Service sera 
                                    fonctionnel ou accessible à tout moment, qu'il ne comportera pas de bug, qu'il n'y aura pas de 
                                    panne de serveur, défaillance du réseau, ralentissement, problème de messagerie ou tout autre problème 
                                    indépendant de notre volonté.
                             </p>

                             <p>
                                    La Société ne sera pas tenu responsable si le Service devient hors d'usage, si des messages privés 
                                    sont perdus, si un membre quitte le site ou est supprimé pour une quelconque raison.
                             </p>

                             <p>
                                    Toutefois, la Société décline toute responsabilité en cas de :
                                    <ul>
                                           <li>
                                                  dommages directs ou indirects causés à l’Utilisateur ou l’Annonceur, quelle qu’en soit la nature, 
                                                  résultant du contenu des annonces et/ou de l’accès, de la gestion, de l’utilisation, de l’exploitation, 
                                                  du dysfonctionnement et/ou de l’interruption de la Plateforme et/ou des Services,
                                           </li>

                                           <li>
                                                  la perte de données ou d’informations stockées par la Société. Il incombe aux Annonceurs 
                                                  de prendre toutes précautions nécessaires pour conserver les annonces qu’ils publient 
                                                  sur la Plateforme,
                                           </li>

                                           <li>
                                                  interruptions, pannes, inaccessibilité momentanée, de modifications et de dysfonctionnement de la Plateforme, 
                                                  quel que soit le support de communication utilisé et ce quelles qu’en soient l’origine et la provenance, 
                                                  notamment pour des problèmes techniques,
                                           </li>

                                           <li>
                                                  attaque ou piratage informatique, privation, suppression ou interdiction, temporaire ou 
                                                  définitive, et pour quelque cause que ce soit, de l’accès au réseau internet.
                                           </li>

                                           <li>
                                                  utilisation anormale ou d’une exploitation illicite de la Plateforme et des Services par tout Utilisateur ou 
                                                  Annonceur,
                                           </li>
                                    </ul>
                                    La responsabilité de la Société ne pourra être engagée que pour les dommages directs subis par un Utilisateur, 
                                    résultant d’un manquement à ses obligations contractuelles telles que définies aux présentes.
                             </p>

                             <p>
                                    L’Utilisateur ou l’Annonceur renonce donc à demander réparation à la Société à quelque titre que ce 
                                    soit, de dommages indirects tels que le manque à gagner, la perte de chance, le préjudice commercial 
                                    ou financier, l’augmentation de frais généraux ou les pertes trouvant leur origine ou étant la 
                                    conséquence de l’exécution des présentes.
                             </p>

                             <p>
                                    Tout Utilisateur et Annonceur est alors seul responsable des dommages causés aux tiers et des 
                                    conséquences des réclamations ou actions qui pourraient en découler. L’Utilisateur renonce également 
                                    à exercer tout recours contre la Société dans le cas de poursuites diligentées par un tiers 
                                    à son encontre du fait de l’utilisation et/ou de l’exploitation illicite de la Plateforme ou des 
                                    Services, en cas de perte par un Utilisateur ou un Annonceur de son mot de passe ou en cas 
                                    d’usurpation de son identité.
                             </p>
                       </article>

                       <article id='personalData'>
                             <h2>6. DONNEES PERSONNELLES</h2>

                             <p>
                                    Conformément aux dispositions de la loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux 
                                    fichiers et aux libertés, tout Utilisateur dispose d’un droit d’accès, de modification, 
                                    de rectification et de suppression des données qui le concerne.
                             </p>

                             <p>
                                    La Société dispose d’une Politique de Confidentialité, décrivant la façon dont les données à caractère personnel des Utilisateurs sont traitées et protégées. 
                                    Elle est disponible au lien suivant : https://given.fr/confidentialite.
                             </p>
                       </article>

                       <article id='law'>
                             <h2>7. LOI APPLICABLE</h2>

                             <p>Les présentes Conditions Générales sont soumises au droit français.</p>
                             <p>
                                    En cas de litige ou de réclamation et aux fins de trouver en priorité un accord amiable, le Client 
                                    adressera ses griefs à la Société par courrier recommandé avec accusé de réception. 
                                    À défaut d’un accord amiable, tout litige ou réclamation pourra être porté devant la juridiction 
                                    compétente.
                             </p>
                       </article>
                 </section>
         </main>
 {% endblock %}